*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
p{
    font-size: 1.1rem;
     padding: 1rem 2rem;
}
.xddd{
    font-size: 1.1rem;
}
.subb{
    font-size: 1.2rem;
    font-style: inherit;
}
img{
    background-position: right;
}
body{
    line-height: 1.7;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200xp;
    margin: 0 auto;
    background-color: #77777777;
    color: #ffff;
    text-align: center;
    padding: 1rem;
}
.logo{
    font-size: 2.5rem;
    font-weight: 350;
    color: rgb(51, 36, 36);
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.nav-links a{
    text-decoration: none;
    color: #333;
     font-weight: 350;
}
footer{
    background-color: #333;
    color: #ffff;
    text-align: center;
    padding: 1rem;
}
@media screen and (max-width: 430px) {
  nav {
    flex-direction: column;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
  }
}
.x{
   font-size: 1.4rem;
    font-style: oblique;
    text-decoration: underline;
        text-align: justify;
        padding: 1rem 2rem;

}
.xd{
    font-size: 1.1rem;
        text-align: justify;
        padding: 1rem 2rem;

}
.introduccion{
    font-size: 1.4rem;
    font-style: oblique;
    font-weight: bold;
        text-align: justify;
        padding: 1rem 2rem;

}
.subtema{
    font-size: 1.4rem;
    font-style: oblique;
    text-align: justify;
    padding: 1rem 2rem;
}
.tema{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.person{
    font-size: 1.1rem;
    text-align: center;
}
.l{
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}
.f{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}
.xr{
    font-size: 1.4rem;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
}
.contenedor{
    position: relative;
}
.ig{
     padding: 4rem 2rem;
 margin: 0 auto;
width: 350;
    height: 300px;  
 object-fit: cover;
}

.imagen{
     padding: 4rem 2rem;
 margin: 0 auto;
    width: 700px;
    height: 100%;
 object-fit: cover;
}
.r{
    font-size: 1.1rem;
     padding: 1rem 2rem;
     text-align: justify;
}